<?xml version="1.0" encoding="UTF-8"?>
<suppressions xmlns="https://jeremylong.github.io/DependencyCheck/dependency-suppression.1.3.xsd">
    <suppress>
        <notes><![CDATA[
   file name: spring-cloud-security-2.2.2.RELEASE.jar
   ]]></notes>
        <packageUrl regex="true">^pkg:maven/org\.springframework\.cloud/spring\-cloud\-security@.*$</packageUrl>
        <cpe>cpe:/a:pivotal_software:spring_security</cpe>
    </suppress>
    <suppress>
        <notes><![CDATA[
   file name: spring-cloud-security-2.2.2.RELEASE.jar
   ]]></notes>
        <packageUrl regex="true">^pkg:maven/org\.springframework\.cloud/spring\-cloud\-security@.*$</packageUrl>
        <cpe>cpe:/a:vmware:cloud_foundation</cpe>
    </suppress>

    <suppress>
        <notes><![CDATA[
   file name: spring-cloud-security-2.2.2.RELEASE.jar
   ]]></notes>
        <packageUrl regex="true">^pkg:maven/org\.springframework\.cloud/spring\-cloud\-security@.*$</packageUrl>
        <cve>CVE-2018-1258</cve>
    </suppress>
</suppressions>